[Desktop Entry]
Type=Application
Version=1.0
Name=Install MorrowOS
GenericName=Install MorrowOS
Exec=sudo -E /usr/bin/calamares-launch-normal
Comment=Calamares — System Installer
Icon=system-software-install
Terminal=false
StartupNotify=true
Categories=Qt;System;
Keywords=installer;calamares;system;
