if loadfont /boot/grub/font.pf2 ; then
    set gfxmode=auto
    insmod efi_gop
    insmod efi_uga
    insmod gfxterm
    terminal_output gfxterm
fi

set default=0
set timeout=15
set timeout_style=menu

menuentry "MorrowOS (live)" {
    linux /casper/vmlinuz boot=casper username=morrow userfullname=Morrow hostname=morrowos quiet splash ---
    initrd /casper/initrd
}

menuentry "MorrowOS (safe graphics - nomodeset)" {
    linux /casper/vmlinuz boot=casper username=morrow userfullname=Morrow hostname=morrowos nomodeset quiet splash ---
    initrd /casper/initrd
}

menuentry "MorrowOS (verbose - show all boot messages)" {
    linux /casper/vmlinuz boot=casper username=morrow userfullname=Morrow hostname=morrowos debug ---
    initrd /casper/initrd
}

grub_platform
if [ "$grub_platform" = "efi" ]; then
    menuentry "UEFI Firmware Settings" {
        fwsetup
    }
fi
