UI menu.c32
PROMPT 0
TIMEOUT 150
MENU TITLE MorrowOS 1.0 "Dawn"
DEFAULT live

LABEL live
  MENU LABEL MorrowOS (live)
  MENU DEFAULT
  KERNEL /casper/vmlinuz
  APPEND initrd=/casper/initrd boot=casper username=morrow userfullname=Morrow hostname=morrowos quiet splash ---

LABEL safe
  MENU LABEL MorrowOS (safe graphics - nomodeset)
  KERNEL /casper/vmlinuz
  APPEND initrd=/casper/initrd boot=casper username=morrow userfullname=Morrow hostname=morrowos nomodeset quiet splash ---

LABEL verbose
  MENU LABEL MorrowOS (verbose - show all boot messages)
  KERNEL /casper/vmlinuz
  APPEND initrd=/casper/initrd boot=casper username=morrow userfullname=Morrow hostname=morrowos debug ---
